.cardprod {
  height: 486px;
  width: 326px;
  border: 8px solid #ededed;
}
.imagem {
  object-fit: cover; /* Do not scale the image */
  object-position: top; /* Center the image within the element */
  height: 180px;
  width: 180px;
  margin: auto;
  padding-top: 38px;
}
.titletext {
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: bold;
  color: #000;
}
.descriptiontext {
  padding-top: 10px;
  margin: 10px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  font-size: 13px;
  font-family: Roboto;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.btnactive {
  height: 48px;
  width: 145px;
  border-radius: 50px;
  background-color: #2e7c94;
  font-size: 16px;
  font-family: Poppins;
  font-weight: bold;
  color: #fffdfa;
}

.btnbottom {
  position: absolute;
  justify-content: center;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.prodcat {
  width: auto;
  max-width: 110px;
  height: 31px;
}

.prodcat p {
  padding-top: 3px;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  font-family: Roboto;
  color: #fffdfb;
}
