.prods {
  padding-left: 8%;
}

h3 {
  padding-top: 40px;
  padding-left: 30px;
}
@media screen and (max-width: 1300px) {
  .prods {
    margin-left: -5%;
  }
}

@media screen and (max-width: 1023px) {
  .prods {
    padding-left: 6%;
  }
  .scrolling-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
}
