.searchpage {
  margin: 0 4%;
  padding-bottom: 3%;
}
.searchpage h3 {
  text-align: left;
  vertical-align: top;
  font-size: 38px;
  font-family: Poppins;
  font-weight: bold;
  line-height: 110.00000238418579%;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .searchpage h3 {
    font-size: 20px;
  }
}
